@model IEnumerable<Facturafast.Models.tbc_Clientes>

<h1 class="h3 mb-3">Catálogos de Clientes</h1>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-actions float-end">

                </div>
                <button class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#modalCliente" onclick="nuevoCliente();"><i class="fas fa-plus"></i> Agregar Cliente</button>
            </div>
            <div class="card-body">
                <table id="datatables-catalogo-clientes" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Nombre / Razón Social</th>
                            <th>RFC</th>
                            <th>Correo Electrónico</th>
                            <th>Dirección Fiscal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td></td>
                                <td>
                                    <table>
                                        <tr>
                                            <td style="padding:0px 5px;">
                                                <button class="btn btn-warning btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#modalCliente" onclick="actualizarCliente(@item.id_cliente, '@item.rfc', '@item.nombre_razon', '@item.telefono', '@item.correo', '@item.direccion_fiscal', '@item.id_uso_cdfi', '@item.id_regimen_fiscal', '@item.codigo_postal');"><i class="fas fa-edit"></i></button>
                                            </td>
                                            <td style="padding:0px 5px;">
                                                <a class="btn btn-primary btn-sm" href="@Url.Action("ServiciosRecurrentes","Catalogos", new { id_cliente = item.id_cliente})"><i class="fas fa-stopwatch"></i>  </a>
                                            </td>
                                            <td style="padding:0px 5px;">
                                                <button class="btn btn-info btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#modalContactosCliente" onclick="verContactos(@item.id_cliente, '@item.rfc', '@item.nombre_razon');"><i class="fas fa-users"></i></button>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>@item.nombre_razon</td>
                                <td>@item.rfc</td>
                                <td>@item.correo</td>
                                <td>@item.direccion_fiscal</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<form name="GuardarCliente.Catalogos" action="@Url.Action("GuardarCliente","Catalogos")" method="post" onsubmit="return validateForm();">
    <div class="modal fade" id="modalCliente" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Formulario de Cliente</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body m-3">
                    <input type="hidden" id="txtIdCliente" name="txtIdCliente" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control form-control-lg text-uppercase" pattern="^[a-zA-Z0-9]{12,13}" id="txtRFCCliente" name="txtRFCCliente" onblur="keyPressRFC()" placeholder="RFC" required>
                                <label for="txtRFCCliente">RFC</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-floating mb-3">
                                <textarea type="text" class="form-control form-control-lg text-uppercase" id="txtNombreRazonCliente" name="txtNombreRazonCliente" style="height:120px;" placeholder="Nombre / Razón Social" required></textarea>
                                <label for="txtNombreRazonCliente">Nombre / Razón Social</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="tel" class="form-control form-control-lg" pattern="^[0-9]{10}" id="txtTelefonoCliente" name="txtTelefonoCliente" placeholder="Teléfono" maxlength="10" required>
                                <label for="txtTelefonoCliente">Teléfono</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control form-control-lg" id="txtCorreoElectronicoCliente" name="txtCorreoElectronicoCliente" placeholder="Correo Electrónico" required>
                                <label for="txtCorreoElectronicoCliente">Correo Electrónico</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-floating mb-3">
                                <textarea type="text" class="form-control form-control-lg" id="txtDireccionFiscalCliente" name="txtDireccionFiscalCliente" style="height:120px;" placeholder="Dirección Fiscal" required></textarea>
                                <label for="txtDireccionFiscalCliente">Dirección Fiscal</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control form-control-lg text-uppercase" pattern="^[0-9]{5}" maxlength="5" id="txtCodigoPostal" name="txtCodigoPostal" placeholder="Codigo Postal" required>
                                <label for="txtCodigoPostal">CodigoPostal</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-floating mb-3">
                                <select class="form-select form-select-lg" id="cmbUsoCFDICliente" name="cmbUsoCFDICliente" aria-label="Uso de la Factura">
                                </select>
                                <label for="cmbUsoCFDICliente">Uso de la Factura</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-floating mb-3">
                                <select class="form-select form-select-lg" id="cmbRegimenFiscal" name="cmbRegimenFiscal" aria-label="Regimen Fiscal">
                                </select>
                                <label for="cmbRegimenFiscal">Regimen Físcal</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-remove"></i>&nbsp; Cerrar</button>
                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i>&nbsp; Guardar Datos</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form name="ContactosClientes.Catalogos" >
    <div class="modal fade" id="modalContactosCliente" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Contactos del Cliente</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body m-3">
                    <input type="hidden" id="txtIdClienteContacto" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control form-control-lg text-uppercase" id="txtRFCClienteContactos"  placeholder="RFC" readonly>
                                <label for="txtRFCClienteContactos">RFC</label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control form-control-lg text-uppercase" id="txtNombreRazonClienteContactos" placeholder="Nombre / Razón Social" readonly>
                                <label for="txtNombreRazonClienteContactos">Nombre / Razón Social</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control form-control-lg" id="txtNombreContacto" name="txtNombreContacto" placeholder="Nombre Completo" required>
                                <label for="txtNombreContacto">Nombre Completo</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control form-control-lg" id="txtPuesto" name="txtPuesto" placeholder="Puesto" required>
                                <label for="txtPuesto">Puesto</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control form-control-lg" id="txtCorreoContacto" name="txtCorreoContacto" placeholder="Correo Electrónico" required>
                                <label for="txtCorreoContacto">Correo Electrónico</label>
                            </div>
                        </div>
                    </div>
                    <hr /><br />
                    <div class="row">
                        <div class="col-md-12">
                            <table id="datatables-contactos-clientes" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>Nombre Completo</th>
                                        <th>Puesto</th>
                                        <th>Correo Electrónico</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyContactosClientes"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-remove"></i>&nbsp; Cerrar</button>
                    <button type="submit" class="btn btn-success" id="btn-AgregarContacto"><i class="fas fa-save"></i>&nbsp; Guardar Contacto</button>
                </div>
            </div>
        </div>
    </div>
</form>


<script>

    var tbContactosCliente;

    function verContactos(a, b, c) {
        $("#txtIdClienteContacto").val(a);
        $("#txtRFCClienteContactos").val(b);
        $("#txtNombreRazonClienteContactos").val(c);

        $("#txtNombreContacto").val("");
        $("#txtPuesto").val("");
        $("#txtCorreoContacto").val("");


        abrirCargando();
        tbContactosCliente.destroy();
        $.get("@Url.Action("obtenerContactos", "Catalogos")?id="+ a, function (data) {
            $("#tbodyContactosClientes").html(data);
            tbContactosCliente = $("#datatables-contactos-clientes").DataTable({
                responsive: true,
                'columnDefs': [
                    { 'sortable': false, 'searchable': false, 'visible': true, 'targets': [0, 1] }
                ],
                order: [[2, 'asc']]
            });
            cerrarCargando();
        });
    }

    function eliminarContacto(id) {
        abrirCargando();
        tbContactosCliente.destroy();
        $.get("@Url.Action("eliminarContactos", "Catalogos")?id=" + id, function (data) {
            if (data == "0") {
                notificacionAlert("No puede eliminar este contacto.", "danger");
            }
            else {
                $("#tbodyContactosClientes").html(data);
                tbContactosCliente = $("#datatables-contactos-clientes").DataTable({
                    responsive: true,
                    'columnDefs': [
                        { 'sortable': false, 'searchable': false, 'visible': true, 'targets': [0, 1] }
                    ],
                    order: [[2, 'asc']]
                });
                notificacionAlert("El contacto se elimino correctamente.", "success");
            }

            cerrarCargando();
        });
    }

    document.addEventListener("DOMContentLoaded", function () {
        $("#datatables-catalogo-clientes").DataTable({
            responsive: true,
            'columnDefs': [
                { 'sortable': false, 'searchable': false, 'visible': true, 'targets': [0, 1] }
            ],
            order: [[2, 'asc']]
        });


        tbContactosCliente = $("#datatables-contactos-clientes").DataTable({
            responsive: true,
            'columnDefs': [
                { 'sortable': false, 'searchable': false, 'visible': true, 'targets': [0, 1] }
            ],
            order: [[2, 'asc']]
        });

        $.get("@Url.Action("obtenerUsoCFDI", "Catalogos")", function (data) {
            $("#cmbUsoCFDICliente").html(data);
        });
        $.get("@Url.Action("cmbRegimenFiscal", "Catalogos")", function (data) {
            $("#cmbRegimenFiscal").html(data);
        });

        $(document.forms["ContactosClientes.Catalogos"]).on('submit', function (e) {
            var $btn = $(e.originalEvent.submitter);
            var $Form = document.forms["ContactosClientes.Catalogos"];


            if ($Form["txtIdClienteContacto"].value == null || $Form["txtIdClienteContacto"].value == 0 ) {
                notificacionAlert("Debe seleccionar un cliente valido.", "danger");
                return false;
            }


            if ($btn.attr('id') == "btn-AgregarContacto") {

                abrirCargando();
                tbContactosCliente.destroy();
                $.get("@Url.Action("agregarContactos", "Catalogos")?id=" + $Form["txtIdClienteContacto"].value + "&nombre=" + $Form["txtNombreContacto"].value + "&puesto=" + $Form["txtPuesto"].value + "&correo=" + $Form["txtCorreoContacto"].value , function (data) {
                    $("#tbodyContactosClientes").html(data);
                    tbContactosCliente = $("#datatables-contactos-clientes").DataTable({
                        responsive: true,
                        'columnDefs': [
                            { 'sortable': false, 'searchable': false, 'visible': true, 'targets': [0, 1] }
                        ],
                        order: [[2, 'asc']]
                    });
                    cerrarCargando();
                    notificacionAlert("El contacto se agrego correctamente.", "success");
                });
                $Form["txtNombreContacto"].value = "";
                $Form["txtPuesto"].value = "";
                $Form["txtCorreoContacto"].value = "";

                return false;
            }
        });


    });

    function validateForm() {
        let rfc = document.forms["GuardarCliente.Catalogos"]["txtRFCCliente"].value;
        if (rfc != "") {

            if ($("#txtRFCCliente").hasClass("is-invalid")) {
                notificacionAlert("El RFC " + $("#txtRFCCliente").val().toUpperCase() + " ya existe en otro Cliente.", "danger");
                return false;
            }


            bootstrap.Modal.getOrCreateInstance(document.getElementById("modalCliente")).hide();
            abrirCargando();

            return true;
        }
        return false;
    }

    function nuevoCliente() {
        document.forms["GuardarCliente.Catalogos"].reset();
        document.forms["GuardarCliente.Catalogos"]["txtIdCliente"].value = 0;
        $("#cmbUsoCFDICliente").val(13);
        $("#txtRFCCliente").removeClass("is-invalid");
        $("#txtRFCCliente").removeClass("is-valid");
    }

    function actualizarCliente(a, b, c, d, e, f, g, h,i) {
        document.forms["GuardarCliente.Catalogos"]["txtIdCliente"].value = a;
        document.forms["GuardarCliente.Catalogos"]["txtRFCCliente"].value = b;
        document.forms["GuardarCliente.Catalogos"]["txtNombreRazonCliente"].value = c;
        document.forms["GuardarCliente.Catalogos"]["txtTelefonoCliente"].value = d;
        document.forms["GuardarCliente.Catalogos"]["txtCorreoElectronicoCliente"].value = e;
        document.forms["GuardarCliente.Catalogos"]["txtDireccionFiscalCliente"].value = f;
        $("#cmbUsoCFDICliente").val(g);
        $("#cmbRegimenFiscal").val(h);
        document.forms["GuardarCliente.Catalogos"]["txtCodigoPostal"].value = i;
    }

    function keyPressRFC() {
        var len = $("#txtRFCCliente").val();
        if (len.length > 12) {
            $.get("@Url.Action("existeRFCCliente", "Catalogos")?id=" + $("#txtIdCliente").val() + "&rfc=" + len, async function (data) {
                $input = $("#txtRFCCliente");
                $input.removeClass("is-invalid");
                $input.removeClass("is-valid");
                $input.addClass(data);
            });
        }
    }

</script>