@model IEnumerable<Facturafast.Models.tbd_Servicios_Recurrentes>
@using Facturafast.Models
@{
    BD_FFEntities db = new BD_FFEntities();
    tbc_Clientes cliente = ViewBag.Cliente as tbc_Clientes;
}
<h1 class="h3 mb-3">Servicios Recurrentes</h1>
&nbsp;
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-actions float-end">

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="RFC" value="@cliente.rfc" readonly>
                            <label>RFC</label>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control form-control-lg" placeholder="Nombre / Razón Social" value="@cliente.nombre_razon" readonly>
                            <label>Nombre / Razón Social</label>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#modalServicioRecurrente" onclick="nuevaRecurrencia();" style="margin-top:10px;"><i class="fas fa-plus"></i>&nbsp; Agregar Servicio Recurrente</button>
                    </div>
                </div>

                <br />
                <hr />
            </div>
            <div class="card-body">
                <table id="datatables-servicios-recurrentes" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Acciones</th>
                            <th>Servicios</th>
                            <th>Estatus</th>
                            <th>Serie</th>
                            <th>Periodicidad</th>
                            <th>Fecha Inicio</th>
                            <th>Última Fecha</th>
                            <th>Próxima fecha</th>

                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            tbc_Estatus estatus = db.tbc_Estatus.Where(s => s.id_estatus == item.id_estatus).Single();
                            tbc_Periodicidades_Pago periodo = db.tbc_Periodicidades_Pago.Where(s => s.id_periodicidad_pago == item.id_periodicidad).Single();
                            String Servicios = String.Join(", ", db.tbd_Detalles_Servicio_Recurrentes.Where(s => s.id_servicio_recurrente == item.id_servicio_recurrente).Select(s => s.concepto).ToList());
                        <tr>
                            <td></td>
                            <td>
                                @if (item.id_estatus == 1)
                                {
                                    <a href="#" class="btn btn-danger btn-sm" title="Inactivar Recurrencia" data-bs-toggle="modal" data-bs-target="#modalCancelarRecurrencia" onclick="cancelarRecurrencia(@item.id_servicio_recurrente, '@Servicios', '@item.total.ToString("c")');"><i class="fas fa-ban"></i></a>
                                }
                                
                            </td>
                            <td>@Servicios</td>
                            <td>@estatus.estatus</td>
                            <td>@item.serie</td>
                            <td>@periodo.periodicidad_pago</td>
                            <td>@item.fecha_inicio.ToString("yyyy/MM/dd")</td>
                            <td>@item.fecha_ultima.ToString("yyyy/MM/dd")</td>
                            <td>@(item.fecha_proxima < DateTime.Now ? "-" : item.fecha_proxima.ToString("yyyy/MM/dd"))</td>
                            <td>@item.total.ToString("c")</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




<form name="GuardarServicioRecurrente.Panel" action="@Url.Action("GuardarServicioRecurrente","Catalogo")" method="post">
    <input type="hidden" id="txtIdServicioRecurrente" name="txtIdServicioRecurrente">
    <input type="hidden" id="txtIdCliente" name="txtIdCliente" value="@cliente.id_cliente">
    <div class="modal fade" id="modalServicioRecurrente" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Formulario Servicio Recurrente</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body m-3">
                    <div class="row">

                        <div class="col-md-2">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control form-control-lg text-uppercase" id="txtSerie" name="txtSerie" placeholder="Serie" required>
                                <label for="txtSerie">Serie</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating mb-3">
                                <input type="date" class="form-control form-control-lg" id="txtFechaInicio" name="txtFechaInicio" value="@DateTime.Now.ToString("yyyy-MM-dd")" placeholder="Fecha de Inicio" required>
                                <label for="txtFechaInicio">Fecha de Inicio</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating mb-3">
                                <select class="form-select form-select-lg" id="cmbPeriodicidadPago" name="cmbPeriodicidadPago" aria-label="Periodicidad de Pago">
                                    <option value="5">05 - Mensual</option>
                                </select>
                                <label for="cmbPeriodicidadPago">Periodicidad de Pago</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating mb-3">
                                <select class="form-select form-select-lg" id="cmbCuentas" name="cmbCuentas" aria-label="Cuenta Bancaria">
                                </select>
                                <label for="cmbCuentas">Cuenta Bancaria</label>
                            </div>
                        </div>
                    </div>

                    <h1 class="h3 mb-3">Servicios</h1>
                    <input type="hidden" id="txtIdConcepto" name="txtIdConcepto">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control form-control-lg" id="txtConcepto" name="txtConcepto" placeholder="Concepto" required>
                                <label for="txtConcepto">Concepto</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control form-control-lg" id="txtCantidad" name="txtCantidad" placeholder="Cantidad" required>
                                <label for="txtCantidad">Cantidad</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-floating mb-3">
                                <input type="number" step="0.01" class="form-control form-control-lg" id="txtPrecioUnitario" name="txtPrecioUnitario" placeholder="Precio Unitario" required>
                                <label for="txtPrecioUnitario">Precio Unitario</label>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-floating mb-3">
                                <select class="form-select form-select-lg" id="cmbDescuento" name="cmbDescuento" aria-label="Desc">
                                    <option value="1">%</option>
                                    <option value="2">$</option>
                                </select>
                                <label for="cmbDescuento">Desc</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control form-control-lg" id="txtDescuento" name="txtDescuento" placeholder="Descuento">
                                <label for="txtDescuento">Descuento</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-grid gap-2">
                                <button type="button" class="btn btn-secondary btn-lg" style="margin-top:10px;" id="btn-CancelarConcepto" onclick="cancelarConcepto();"><i class="fas fa-remove"></i>&nbsp; Cancelar</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-success btn-lg" style="margin-top:10px;" id="btn-AgregarConcepto"><i class="fas fa-plus"></i>&nbsp; Agregar Concepto</button>
                                <button type="submit" class="btn btn-warning btn-lg" style="margin-top:10px;" id="btn-EditarConcepto"><i class="fas fa-edit"></i>&nbsp; Editar Concepto</button>

                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <table id="datatables-conceptos-recurrente" class="table table-striped table-secondary" style="width:100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>Clave</th>
                                        <th>Concepto</th>
                                        <th></th>
                                        <th>ID SAT</th>
                                        <th>Cantidad</th>
                                        <th></th>
                                        <th>Unidad</th>
                                        <th>Precio Unitario</th>
                                        <th>Importe</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th>IVA</th>
                                        <th>IVA Ret</th>
                                        <th>ISR Ret</th>
                                        <th></th>
                                        <th></th>
                                        <th>Descuento</th>
                                        <th>Total</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control form-control-lg" id="txtTotalImporte" placeholder="Subtotal" style="text-align:right;" readonly>
                                <label for="txtTotalImporte">Subtotal</label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control form-control-lg" id="txtTotalIVA" placeholder="Total IVA" style="text-align:right;" readonly>
                                <label for="txtTotalIVA">Total IVA</label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control form-control-lg" id="txtTotalIVARet" placeholder="IVA Ret" style="text-align:right;" readonly>
                                <label for="txtTotalIVARet">Total IVA Ret</label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control form-control-lg" id="txtTotalISRRet" placeholder="ISR Ret" style="text-align:right;" readonly>
                                <label for="txtTotalISRRet">Total ISR Ret</label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control form-control-lg" id="txtTotalDescuento" placeholder="Descuento" style="text-align:right;" readonly>
                                <label for="txtTotalDescuento">Descuento</label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control form-control-lg" id="txtTotal" placeholder="Total" style="text-align:right;" readonly>
                                <label for="txtTotal">Total</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-remove"></i>&nbsp; Cerrar</button>
                            <button type="button" class="btn btn-success" onclick="guardarRecurrencia();"><i class="fas fa-save"></i>&nbsp; Guardar Datos</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

<form id="CancelarRecurrencia.Panel" method="get" action="@Url.Action("CancelarRecurrencia","Catalogos")" onsubmit="return validateCancelar();">
    <div class="modal fade" id="modalCancelarRecurrencia" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Inactivar Recurrencia</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body m-3">
                    <input type="hidden" id="id_recurrencia" name="id_recurrencia" required />
                    <input type="hidden" id="id_cliente_recurrencia" name="id_cliente_recurrencia" value="@cliente.id_cliente" required />
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-floating mb-3">
                                <textarea type="text" class="form-control form-control-lg" id="txtServicios" placeholder="Servicios" style="height:120px;" readonly></textarea>
                                <label for="txtServicios">Servicios</label>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control form-control-lg" id="txtTotalRecurrencia" placeholder="Total" readonly>
                                <label for="txtTotalRecurrencia">Total</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-remove"></i>&nbsp; Cerrar</button>
                    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" onclick=""><i class="fas fa-ban"></i>&nbsp; Inactivar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>

    function validateCancelar() {
        let pass = document.forms["CancelarRecurrencia.Panel"]["id_recurrencia"].value;
        if (pass != "") {
            abrirCargando();
            return true;
        }
        return false;
    }

    function cancelarRecurrencia(a, b, c) {
        $("#id_recurrencia").val(a);
        $("#txtServicios").val(b);
        $("#txtTotalRecurrencia").val(c);
    }

    var cacheConcepto = {};
    var TableConceptos;
    var dataEdit;
    document.addEventListener("DOMContentLoaded", function () {


        $(document.forms["GuardarServicioRecurrente.Panel"]).on('submit', function (e) {
            var $btn = $(e.originalEvent.submitter);
            var $Form = document.forms["GuardarServicioRecurrente.Panel"];
            var t = TableConceptos;

            if ($Form["txtPrecioUnitario"].value <= 0) {
                notificacionAlert("Debe capturar un precio unitario mayor a cero.", "danger");
                return false;
            }


            if ($btn.attr('id') == "btn-AgregarConcepto") {



                if ($Form["txtIdConcepto"].value != "0") {
                    if ($("#txtConcepto").hasClass("is-invalid")) {
                        notificacionAlert("Debe seleccionar un servicio o producto válido.", "danger");
                        return false;
                    }
                }
                else {
                    notificacionAlert("No ha seleccionado un servicio o producto.", "danger");
                    $("#txtConcepto").removeClass("is-invalid");
                    $("#txtConcepto").removeClass("is-valid");
                    $("#txtConcepto").addClass("is-invalid");
                    return false;
                }

                t.row.add(
                    {
                        "seleccion": "",
                        "acciones": '<a href="#" class="btn btn-warning btn-sm icon-editar" title="Editar Concepto"><i class="fas fa-edit"></i></a> &nbsp;&nbsp; <a href="#" class="btn btn-danger btn-sm icon-delete" title="Eliminar Concepto"><i class="fas fa-trash"></i></a>',
                        "clave": "",
                        "concepto": $Form["txtConcepto"].value,
                        "id_sat": 0,
                        "clave_sat": "",
                        "cantidad": $Form["txtCantidad"].value,
                        "id_unidad_medida": 0,
                        "unidad": "",
                        "precio_unitario": $Form["txtPrecioUnitario"].value,
                        "importe": 0,
                        "id_iva": 0,
                        "id_iva_ret": 0,
                        "id_isr": 0,
                        "total_iva": 0,
                        "total_iva_ret": 0,
                        "total_isr": 0,
                        "tipo_descuento": $Form["cmbDescuento"].value,
                        "descuento": $Form["txtDescuento"].value,
                        "total_descuento": 0,
                        "total": 0,
                        "id_detalle_nota_venta": $Form["txtIdConcepto"].value,
                        "id_nota_venta": 0
                    }
                );
                t.columns.adjust().draw(false);
                cancelarConcepto();
                notificacionAlert("El concepto se agrego correctamente.", "success");
                calcularImporte();
                return false;
            }

            if ($btn.attr('id') == "btn-EditarConcepto") {


                if ($Form["txtIdConcepto"].value != "") {
                    if ($("#txtConcepto").hasClass("is-invalid")) {
                        notificacionAlert("Debe seleccionar un servicio o producto válido.", "danger");
                        return false;
                    }
                }
                else {
                    notificacionAlert("No ha seleccionado un servicio o producto.", "danger");
                    $("#txtConcepto").removeClass("is-invalid");
                    $("#txtConcepto").removeClass("is-valid");
                    $("#txtConcepto").addClass("is-invalid");
                    return false;
                }


                var data = dataEdit.data();


                data.concepto = $Form["txtConcepto"].value;
                data.id_detalle_nota_venta = $Form["txtIdConcepto"].value;
                data.cantidad = $Form["txtCantidad"].value;
                data.precio_unitario = $Form["txtPrecioUnitario"].value;
                data.tipo_descuento = $Form["cmbDescuento"].value;
                data.descuento = $Form["txtDescuento"].value;

                dataEdit.data(data).draw();
                t.columns.adjust().draw(false);
                notificacionAlert("El concepto se actualizo correctamente.", "success");
                cancelarConcepto();
                calcularImporte();
                return false;
            }
        });

        $("#datatables-servicios-recurrentes").DataTable({
            responsive: true,
            'columnDefs': [
                { 'sortable': false, 'searchable': false, 'visible': true, 'targets': [0, 1] }
            ],
            order: [[7, 'desc']]
        });

        TableConceptos = $("#datatables-conceptos-recurrente").DataTable({
            responsive: true,
            'columnDefs': [
                { visible: true, orderable: false, searchable: false, targets: 0, name: "seleccion", data: "seleccion" },
                { visible: true, orderable: false, searchable: false, targets: 1, name: "acciones", data: "acciones" },
                { visible: true, orderable: true, searchable: true, targets: 2, name: "clave", data: "clave" },
                { visible: true, orderable: true, searchable: true, targets: 3, name: "concepto", data: "concepto" },
                { visible: false, orderable: false, searchable: false, targets: 4, name: "id_sat", data: "id_sat" },
                { visible: true, orderable: true, searchable: true, targets: 5, name: "clave_sat", data: "clave_sat" },
                { visible: true, orderable: true, searchable: true, targets: 6, name: "cantidad", data: "cantidad" },
                { visible: false, orderable: false, searchable: false, targets: 7, name: "id_unidad_medida", data: "id_unidad_medida" },
                { visible: true, orderable: true, searchable: true, targets: 8, name: "unidad", data: "unidad" },
                { visible: true, orderable: true, searchable: true, targets: 9, name: "precio_unitario", data: "precio_unitario" },
                { visible: true, orderable: true, searchable: true, targets: 10, name: "importe", data: "importe" },
                { visible: false, orderable: false, searchable: false, targets: 11, name: "id_iva", data: "id_iva" },
                { visible: false, orderable: false, searchable: false, targets: 12, name: "id_iva_ret", data: "id_iva_ret" },
                { visible: false, orderable: false, searchable: false, targets: 13, name: "id_isr", data: "id_isr" },
                { visible: true, orderable: true, searchable: true, targets: 14, name: "total_iva", data: "total_iva" },
                { visible: false, orderable: false, searchable: false, targets: 15, name: "total_iva_ret", data: "total_iva_ret" },
                { visible: false, orderable: false, searchable: false, targets: 16, name: "total_isr", data: "total_isr" },
                { visible: false, orderable: false, searchable: false, targets: 17, name: "tipo_descuento", data: "tipo_descuento" },
                { visible: false, orderable: false, searchable: false, targets: 18, name: "descuento", data: "descuento" },
                { visible: false, orderable: false, searchable: false, targets: 19, name: "total_descuento", data: "total_descuento" },
                { visible: true, orderable: true, searchable: true, targets: 20, name: "total", data: "total" },
                { visible: false, orderable: false, searchable: false, targets: 21, name: "id_detalle_nota_venta", data: "id_detalle_nota_venta" },
                { visible: false, orderable: false, searchable: false, targets: 22, name: "id_nota_venta", data: "id_nota_venta" }
            ],
            order: [[3, 'asc']]
        });

        $('#datatables-conceptos-recurrente tbody').on('click', '.icon-delete', function () {

            if ($("#btn-EditarConcepto").is(":visible")) {
                notificacionAlert("No se pueden eliminar conceptos mientras se este editando alguno de ellos.", "danger");
            }
            else {
                var t = TableConceptos;
                t.row($(this).parents('tr')).remove();
                t.columns.adjust().draw(false);
                calcularImporte();
            }
        });

        $('#datatables-conceptos-recurrente tbody').on('click', '.icon-editar', function () {
            $("#btn-EditarConcepto").show();
            $("#btn-CancelarConcepto").show();
            $("#btn-AgregarConcepto").hide();

            var t = TableConceptos;
            dataEdit = t.row($(this).parents('tr'));
            var data = dataEdit.data();

            $("#txtConcepto").val(data.concepto);

            $("#txtPrecioUnitario").val(data.precio_unitario);
            $("#txtCantidad").val(data.cantidad);

            $("#txtIdConcepto").val(data.id_detalle_nota_venta);
            $("#txtConcepto").removeClass("is-invalid");
            $("#txtConcepto").removeClass("is-valid");
            $("#txtConcepto").addClass("is-valid");


            $("#cmbDescuento").val(data.tipo_descuento);
            $("#txtDescuento").val(data.descuento);


        });

         $("#txtConcepto").autocomplete({
            minLength: 1,
            source: function (request, response) {
                var term = request.term;

                if (term.length > 1) {
                    $("#txtConcepto").removeClass("is-invalid");
                    $("#txtConcepto").removeClass("is-valid");
                    $("#txtConcepto").addClass("is-invalid");
                    if (term in cacheConcepto) {
                        response(cacheConcepto[term]);
                        return;
                    }
                    $.getJSON("@Url.Action("obtenerProductos", "Catalogos")", request, function (data, status, xhr) {
                        cacheConcepto[term] = data;
                        response(data);
                    });
                }
                else {
                    $("#txtConcepto").removeClass("is-invalid");
                    $("#txtConcepto").removeClass("is-valid");
                    $("#txtConcepto").addClass("is-invalid");
                    $("#")
                    response([]);
                }

            },
            select: function (event, ui) {
                $("#txtConcepto").val(ui.item.label);
                $("#txtIdConcepto").val(ui.item.id_producto);
                $("#txtPrecioUnitario").val(ui.item.precio);
                $("#txtConcepto").removeClass("is-invalid");
                $("#txtConcepto").removeClass("is-valid");
                $("#txtConcepto").addClass("is-valid");


                return false;
            }
         });

        $.get("@Url.Action("obtenerCuentas", "Catalogos")", function (data) {
            $("#cmbCuentas").html(data);
        });
    });




    function nuevaRecurrencia() {
        document.forms["GuardarServicioRecurrente.Panel"].reset();
        $("#txtIdServicioRecurrente").val(0);


        $("#cmbDescuento").val(1);
        $("#txtDescuento").val(0);


        $("#txtConcepto").removeClass("is-invalid");
        $("#txtConcepto").removeClass("is-valid");


        $("#btn-EditarConcepto").hide();
        $("#btn-CancelarConcepto").hide();
        $("#btn-AgregarConcepto").show();

        $("#txtIdConcepto").val(0);

        $("#txtTotalIVA").val(formatoMoneda(0));
        $("#txtTotalIVARet").val(formatoMoneda(0));
        $("#txtTotalISRRet").val(formatoMoneda(0));
        $("#txtTotalDescuento").val(formatoMoneda(0));
        $("#txtTotal").val(formatoMoneda(0));
        $("#txtTotalImporte").val(formatoMoneda(0));
        TableConceptos.clear().draw(false);
    }


    function cancelarConcepto() {
        $("#btn-EditarConcepto").hide();
        $("#btn-CancelarConcepto").hide();
        $("#btn-AgregarConcepto").show();

        var noRecurrencia = $("#txtIdServicioRecurrente").val();
        var idCliente = $("#txtIdCliente").val();
        var txtSerie = $("#txtSerie").val();
        var txtFechaInicio = $("#txtFechaInicio").val();

        var a = $("#txtTotalIVA").val();
        var b = $("#txtTotalIVARet").val();
        var c = $("#txtTotalISRRet").val();
        var d = $("#txtTotalDescuento").val();
        var e = $("#txtTotal").val();

        document.forms["GuardarServicioRecurrente.Panel"].reset();
        $("#txtIdServicioRecurrente").val(noRecurrencia);
        $("#txtIdCliente").val(idCliente);


        $("#txtSerie").val(txtSerie);
        $("#txtFechaInicio").val(txtFechaInicio);

        $("#txtTotalIVA").val(a);
        $("#txtTotalIVARet").val(b);
        $("#txtTotalISRRet").val(c);
        $("#txtTotalDescuento").val(d);
        $("#txtTotal").val(e);


        $("#txtConcepto").removeClass("is-invalid");
        $("#txtConcepto").removeClass("is-valid");
        $("#cmbDescuento").val(1);
        $("#txtDescuento").val(0);
        $("#btn-EditarConcepto").hide();
        $("#btn-CancelarConcepto").hide();
        $("#btn-AgregarConcepto").show();

        $("#txtIdConcepto").val(0);

    }

    function agregarConcepto() {

        var $validationForm = $(document.forms["GuardarServicioRecurrente.Panel"]);

        var a = $validationForm.serialize();


        return false;
    }

    function calcularImporte() {

        var array = TableConceptos.rows()
            .data().toArray();

        if (array.length > 0) {
            abrirCargando();
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: '@Url.Action("calcularImportes","Panel")',
                data: JSON.stringify({ 'conceptos': array}),
                success: function (data) {
                    var response = data;

                    $("#txtTotalIVA").val(formatoMoneda(response.Total_IVA));
                    $("#txtTotalIVARet").val(formatoMoneda(response.Total_IVARet));
                    $("#txtTotalISRRet").val(formatoMoneda(response.Total_ISRRet));
                    $("#txtTotalDescuento").val(formatoMoneda(response.Total_Descuento));
                    $("#txtTotal").val(formatoMoneda(response.Total));
                    $("#txtTotalImporte").val(formatoMoneda(response.Total_Importe));
                    TableConceptos.clear().draw(false);
                    TableConceptos.rows.add(response.Data);
                    TableConceptos.columns.adjust().draw(false);
                    cerrarCargando();
                    }
            });
        }
    }

     function guardarRecurrencia() {

         var $Form = document.forms["GuardarServicioRecurrente.Panel"];

        if ($Form["txtIdCliente"].value != "") {
            if ($Form["txtSerie"].value == "") {
                notificacionAlert("Debe seleccionar una Serie válida.", "danger");
            }
            else {
                var array = TableConceptos.rows()
                    .data().toArray();
                if (array.length == 0) {
                    notificacionAlert("Debe haber por lo menos un servicio o producto para hacer un servicio recurrente.", "danger");
                }
                else {
                    abrirCargando();
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        url: '@Url.Action("guardarServicioRecurrente","Catalogos")',
                        data: JSON.stringify({ 'conceptos': array, 'txtIdCliente': $Form["txtIdCliente"].value, 'txtIdServicioRecurrente': $Form["txtIdServicioRecurrente"].value, 'txtSerie': $Form["txtSerie"].value, 'txtFechaInicio': $Form["txtFechaInicio"].value, 'cmbPeriodicidadPago': $Form["cmbPeriodicidadPago"].value, 'txtIdCuenta': $Form["cmbCuentas"].value}),
                        success: function (data) {
                            var response = data;
                            if (response.Estatus == 1) {
                                window.location = '@Url.Action("ServiciosRecurrentes","Catalogos", new { id_cliente = cliente.id_cliente})';
                            }
                            else {
                                notificacionAlert(response.Mensaje, "danger");
                            }
                            cerrarCargando();
                        }
                    });
                }
            }
        }
        else {
            notificacionAlert("No ha seleccionado un Cliente.", "danger");
            return false;
        }
    }

</script>