@using Facturafast.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<input type="hidden" id="tmp_pdf" />
<input type="hidden" id="tmp_xml" />
<h1 class="h3 mb-3">PrePagos</h1>
<div class="row">
    <div class="col-md-2 col-xs-2">
        <input type="hidden" value="@ViewBag.ID" id="idprepago" />
        <button class="btn btn-danger btnEstatus mb-3" id="btnTimbrar" style="visibility:hidden" onclick="timbrarModal()">Timbrar</button><br />
        <a class="btn btn-warning btnPrePago mb-3" id="btnEditar" href="/Facturacion/Complemento?id=@ViewBag.ID" style="visibility: hidden"><i class="fas fa-edit"></i> Editar</a><br />
        <a class="btn btn-success btnPrePago" id="btnListar" href='/Facturacion/ListaComplemento' style="visibility: hidden"><i class="fas fa-file-alt"></i> Listar</a>
    </div>
    <div class="col-md-10 col-xs-10" id="d_prepagos" style="visibility:hidden">
        <div class="card">
            <div class="card-header">

            </div>
            <div class="row rpdf">

            </div>
        </div>
    </div>
</div>
<!-- MODAL FACTS -->
<div class="modal fade" id="modalTimbrado" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Timbrar</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-3">
                <input type="hidden" id="idprefac_modal" />
                <input type="hidden" id="correo_cliente" />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control form-control-lg text-uppercase" readonly id="rfc_receptor">
                            <label for="rfc_emisor">RFC</label>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control form-control-lg text-uppercase" readonly id="razon_recpetor">
                            <label for="razon_emisor">Razón Social</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control form-control-lg text-uppercase" readonly id="total">
                            <label for="total">Total</label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="timbrar()" id="btnTimbre"><i class="fas fa-bell"></i>&nbsp; Timbrar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnCerrar"><i class="fas fa-remove"></i>&nbsp; Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    setTimeout(function () { abrirCargando(); previsualizar(0); }, 1000);
    const id = '@ViewBag.ID';
    const estatus_ = '@ViewBag.Estatus'
    function previsualizar(a)
    {
        console.log("-->"+a);
        $("#d_prepagos").css("visibility", "visible");
        $(".rpdf").empty();
        //-------------------------------------------------------------------------
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: '/Facturacion/VisPrePagos?id=' + id,
            data: JSON.stringify({ 'id': id }),
            success: function (data) {
                var response = data;
                if (response == "NG") {
                    previsualizar(0);
                }
                else {
                    var aux_path = response.split("/");
                    if (aux_path[0] == "Cancelado") {
                        $("#btnTimbrar").attr('disabled',true);

                    } else {
                        $("#btnTimbrar").attr('disabled', false);
                        f_pdf = response;
                        $(".rpdf").html('<iframe src="/' + response + '" style="height:100vh"></iframe>');
                        $("#tmp_pdf").val(response);
                        //setTimeout(function () {
                        if ('@ViewBag.Estatus' == "1" && a == 0) {
                            $(".btnPrePago").css("visibility", "visible");
                            $(".btnEstatus").css("visibility", "visible");
                            $("#btnListar").css("visibility", "visible");
                            genXML(id);
                        } else {
                            $(".btnEstatus").css("visibility", "hidden");
                            $(".btnPrePago").css("visibility", "hidden");
                            $("#btnListar").css("visibility", "visible");
                        }
                        if (a == 1)
                        {
                            $(".btnEstatus").css("visibility", "hidden");
                            $(".btnPrePago").css("visibility", "hidden");
                            $("#btnListar").css("visibility", "visible");
                            genBtn();
                        }
                        
                        f_doc = f_pdf.replace('PDF', 'DOCX');
                        f_doc = f_doc.replace('.pdf', '.docx');
                    }
                    cerrarCargando();
                    //}, 15000);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                notificacionAlert("Ocurrio un error, vuelva a intentar", "danger");
                cerrarCargando();
            }
        });
        //-------------------------------------------------------------------------
    }

    function timbrarModal()
    {

        $("#idprefac_modal").val('@ViewBag.ID');
        bootstrap.Modal.getOrCreateInstance(document.getElementById("modalTimbrado")).show();
        $.get("@Url.Action("getPrePagoID", "Facturacion")?id=" + id, async function (data) {
            $("#correo_cliente").val(data.correo);
            $("#total").val(formatoMoneda(data.total));
            $("#razon_recpetor").val(data.nombre_razon);
            $("#rfc_receptor").val(data.rfc);
        });
    }

    function timbrar()
    {
        $("#btnTimbre").html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span class= "sr-only">Loading...</span>');
        $("#btnCerrar").css("disabled",true);

        let id = $("#idprefac_modal").val();
        abrirCargando();
        $("#btnPreTimbrar").css("display", "block");
        $("#btnTimbrar").css("display", "none");
        //-------------------------------------------------------------------------
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: '/XML/TimbrarXML?id_=' + id,
            data: JSON.stringify({ 'id_': id,'n_doc':'Fac_Pago.xml', 'tipo':'Pago' }),
            success: function (data) {
                var response = data;
                response = response.split("|");
                if (response[0] == "Timbrado" || response[0] =="Timdrado") {
                    notificacionAlert("Timbrada Correctamente", "success");
                    $("#btnEditar").css('visibility', 'hidden');
                    $("#btnTimbrar").css('visibility', 'hidden');
                    previsualizar(1);
                    cerrarCargando();
                } else {
                    notificacionAlert("Ocurrio un error, " + response[2] + ",vuelva a intentar", "danger");
                    cerrarCargando();
                }

            },
            error: function (jqXHR, textStatus, errorThrown) {
                notificacionAlert("Ocurrio un error, vuelva a intentar", "danger");
                cerrarCargando();
            }
        });
        //$("#btnEditar").css('visibility', 'hidden');
        //            $("#btnTimbrar").css('visibility', 'hidden');
        //            previsualizar(1);
        //            cerrarCargando();
        //-------------------------------------------------------------------------
    }

    function sendcorreo()
    {
        abrirCargando();
        let correo = $("#correo_cliente").val();
        let id = $("#idprefac_modal").val();
        //-------------------------------------------------------------------------
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: '/Facturacion/EnviarCorreo',
            data: JSON.stringify({ 'id_': id, 'correo_': correo, 'tipo': 'Prepago'}),
            success: function (data) {
                var response = data;
                console.log(response);
                cerrarCargando();
                if (response == "Enviado") {
                    notificacionAlert("Correo enviado satisfactoriamente.", "success");
                    setTimeout(function () { window.location = '@Url.Action("ListaComplemento", "Facturacion")' }, 3000);
                } else {
                    notificacionAlert("Ocurrio un problema al enviar el correo, intentelo mas tarde.", "danger");
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                notificacionAlert("Ocurrio un error, vuelva a intentar", "danger");
                cerrarCargando();
            }
        });
        //-------------------------------------------------------------------------
    }

    function genXML(id)
    {
        //-------------------------------------------------------------------------
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: '/XML/genPagoXML?id=' + id,
            data: JSON.stringify({ 'id': id }),
            success: function (data) {
                var response = data;
                console.log(response);

            },
            error: function (jqXHR, textStatus, errorThrown) {
                //notificacionAlert("Ocurrio un error, vuelva a intentar", "danger");
                cerrarCargando();
            }
        });
        //-------------------------------------------------------------------------
    }

    function genBtn()
    {
        $("#btnTimbrar").css('visibility', 'hidden');
        var rutaPDF = $("#tmp_pdf").val();
        var rxml_tmp = rutaPDF.split("/");
        var nombre_f = rxml_tmp[6].split(".");
        var r_temp_xml = rxml_tmp[0] + "/" + rxml_tmp[1] + "/" + rxml_tmp[2] + "/" + rxml_tmp[3] + "/" + rxml_tmp[4] + "/" + rxml_tmp[5] + "/" + nombre_f[0] + ".xml";
        $("#tmp_xml").val(r_temp_xml);
        var rutaXML = r_temp_xml;
        $(".modal-footer").empty();
        $(".modal-footer").html('<button class="btn btn-primary" onclick=sendcorreo()><i class="fas fa-envelope"></i>&nbsp; Enviar Correo</button>' +
            '<a target="_blank" class="btn btn-success" href="../' + rutaPDF + '"><i class="fas fa-file"></i>&nbsp; Descargar PDF</button>' +
            '<a class="btn btn-info" href="../' + rutaXML + '"><i class="fas fa-file"></i>&nbsp; Descargar XML</button>');
    }
</script>
